/* ---------------------------------------------------------------------------------------------------------------- *\
* Make all elements from DOM inherit from parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value making all elements inheriting
* from the root box-sizing value

* 1. Remove browser margin and padding
* 2. Change the box model so border and paddings are not added to the total width of the box container
* 3. Setup the box model on the root level
\* ---------------------------------------------------------------------------------------------------------------- */

*,
*::before,
*::after {
  @extend %margin-reset;
  @extend %padding-reset;
  @extend %box-sizing;
}

html {
  @extend %box-sizing;
}

fieldset {
  @extend %padding-reset;
  @extend %no-border;
}

/**
* 1. Remove the border on images inside links in IE 10.
* 2. Make images fluid
*/

img {
  @extend %no-border; /* 1 */
  @extend %display-block;
  max-width: 100%; /* 2 */
  @include height(); /* 2 */
  object-fit: cover;
}

/**
  * Render the `main` element consistently in IE.
*/

main {
  @extend %display-block;
}

::selection {
  background-color: get-color($c-dark, eerie-black);
  color: get-color($c-light, cultured);
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}
