/* ------------------------------------ *\
  #THEMES
\* ------------------------------------ */

:root {
  --text-color: #{get-color($c-dark, eerie-black)};
  --color-link: #{get-color($c-gray, davys-grey)};
  --text-regular: #{$fontFam-openSans};
  --text-code: #{$fontFam-courierPrime};
}
